body {
  margin: 0;
  text-align: center;
  background-image: url('./images/collagefondo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  line-height: 2;
  font-size: 14px;
  padding-top: 100px;
  font-family: Arial, sans-serif;
}

h2,
label {
  font-family: 'Creepster', cursive;
  color: rgb(231, 38, 38);
  margin: 10px 0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 350px;
  margin: 0 auto;
  background: rgba(20, 18, 18, 0.7);
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(231, 38, 38);
}



input {
  width: 250px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
}

button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px;
  background-color: rgb(231, 38, 38);
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(180, 30, 30);
}

a {
  text-decoration: none;
}
