body {
    text-align: center;
    background-image: url(images/collage\ fondo.jpg);
    background-position: center;
    color: #ffffff;
    line-height: 2;
    font-size: 14px;
}

label{
    font-size: 25px;
    font-weight: 700;
}
input{
    border: 0px;
    width: 250px;
    height: 25px;
    font-size: 14px;
    border-radius: 5px;
}
h2{
    font-size: 100px;
    font-family: 'creepster';
    color: rgb(255, 56, 56);
}
button{
   width: 300px;
   height: 55px;
   font-size: 24px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: rgb(231, 38, 38);
   color: #ffffff;
   border: 0px;
   border-radius: 10px;
   margin-top: 15px;
   cursor: pointer;
}
select{
    border: 0;
    width: 200px;
    height: 25px;
    font-size: 14px;
    border-radius: 5px;
}
.registro-cuadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}